input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input::-o-outer-spin-button,
input::-o-inner-spin-button
  -o-appearance: none
  margin: 0

.book-top-block
  background: rgba(236, 94, 27, 0.9)
  width: 100%
  height: 620px

.social-top-block
  padding-top: 35px
  li
    border-radius: 30px
    text-align: center
    background: #DB540A repeat
    box-sizing: border-box
    height: 30px
    width: 30px
    margin-left: 10px
    a
      font-size: 20px
      color: #903605
      &:hover
        color: #F59F70

.main-book-block
  width: 100%
  margin-top: -560px
  .book-top-wrap
    height: 100px
  .book-title
    font-family: 'Bree Serif', serif
    color: #FFF
    font-size: 2.8rem
  .book-description
    color: #FFF
    font-size: 1.1rem
  .main-buttons a
    font-family: 'Bree Serif', serif
    background: #903605 repeat
    color: #FFF
    font-size: 1.6rem
    border-radius: 5px
    &:hover
      color: #f59f70


.book-poster
  display: block
  margin: 0 auto
  text-align: center
  box-shadow: 0 10px 10px rgba(0,0,0,0.3)
