---
title: Cooking Infrastructure by Chef
---


<div class="book-top-block">
  <div class="row">
    <div class="large-3 large-offset-9 columns">
      <ul class="inline-list right social-top-block">
        <li>
          <a href="https://www.facebook.com/leopard.not.a" target="_blank">
            <i class="icon-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/leopard_me" target="_blank">
            <i class="icon-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/u/0/+AlexeyVasilyevleo/posts" target="_blank">
            <i class="icon-gplus"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/le0pard/chef_book" target="_blank">
            <i class="icon-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="main-book-block">
  <div class="row">
    <div class="large-6 columns">
      <img class="book-poster" src="http://placehold.it/410x585&text=Book">
    </div>
    <div class="large-6 columns">
      <div class="row">
        <div class="large-12 columns book-top-wrap"></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <h1 class="book-title">Cooking Infrastructure by Chef<h1>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p class="book-description">Cooking Infrastructure by Chef will help you learn the techniques of the pros by walking you through a host of step-by-step guides to solve real-world infrastructure automation challenges</p>
        </div>
      </div>
      <div class="row main-buttons">
        <div class="large-6 columns">
          <a class="button expand" href="#">
            <i class="icon-download-cloud-1"></i>
            Download
          </a>
        </div>
        <div class="large-6 columns">
          <a class="button expand" href="#">
            <i class="icon-link"></i>
            Read Online
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">

      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>

      <div class="large-6 small-12 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>

<!-- End Footer -->