---
title: Cooking Infrastructure by Chef
---


<div class="book-top-block">
  <div class="row hide-for-small-only hide-for-medium-only">
    <div class="large-3 large-offset-9 columns">
      <ul class="inline-list right social-top-block">
        <li>
          <a href="https://www.facebook.com/leopard.not.a" target="_blank">
            <i class="icon-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/leopard_me" target="_blank">
            <i class="icon-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/le0pard/chef_book" target="_blank">
            <i class="icon-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="main-book-block">
  <div class="row">
    <div class="large-6 columns">
      <%= image_tag "cover.png", alt: "Cooking Infrastructure by Chef", class: 'book-poster' %>
    </div>
    <div class="large-6 columns">
      <div class="row hide-for-small-only hide-for-medium-only">
        <div class="large-12 columns book-top-wrap"></div>
      </div>
      <div class="row hide-for-small-only hide-for-medium-only">
        <div class="large-12 columns">
          <h1 class="book-title">Cooking Infrastructure by Chef (draft)<h1>
        </div>
      </div>
      <div class="row hide-for-small-only hide-for-medium-only">
        <div class="large-12 columns">
          <p class="book-description">
            Cooking Infrastructure by Chef will help you learn Chef to automate your IT infrastructure.
            <br /><br />
            Found mistake in text? Send me pull request
          </p>
        </div>
      </div>
      <div class="row main-buttons">
        <div class="large-6 columns">
          <a class="button expand" href="https://github.com/le0pard/chef_book/releases/download/0.0.1rc1/chef_rc1.pdf">
            <i class="icon-download-cloud-1"></i>
            Download
          </a>
        </div>
        <div class="large-6 columns">
          <a class="button expand" href="http://chef.leopard.in.ua/html">
            <i class="icon-link"></i>
            Read Online
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Chapters -->
<div class="chapters-title">
  <div class="row">
    <div class="large-6 large-centered columns text-block">
      <h2>Contents of the book</h2>
      <hr />
    </div>
  </div>
</div>

<div class="chapters-main">
  <div class="row">
    <div class="large-6 columns">

      <div class="row">
        <div class="large-2 columns hide-for-small-only hide-for-medium-only">
          <h1>1</h1>
        </div>
        <div class="large-10 small-12 columns">
          <h3>So, what is Chef?</h3>
          <p>This chapter describes Chef, its main benefits and principles</p>
        </div>
      </div>

    </div>
    <div class="large-6 columns">

      <div class="row">
        <div class="large-2 columns hide-for-small-only hide-for-medium-only">
          <h1>2</h1>
        </div>
        <div class="large-10 small-12 columns">
          <h3>Chef Solo</h3>
          <p>This chapter describes Chef Solo, its structure and how it can help in the deployment of a simple (several nodes) infrastructure</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">

      <div class="row">
        <div class="large-2 columns hide-for-small-only hide-for-medium-only">
          <h1>3</h1>
        </div>
        <div class="large-10 small-12 columns">
          <h3>Chef Server</h3>
          <p>This chapter describes Chef Server, its architecture, features and how it can help in the deployment of infrastructures</p>
        </div>
      </div>

    </div>
    <div class="large-6 columns">

      <div class="row">
        <div class="large-2 columns hide-for-small-only hide-for-medium-only">
          <h1>4</h1>
        </div>
        <div class="large-10 small-12 columns">
          <h3>Writing Cookbooks</h3>
          <p>This chapter describes an essential component of Chef - cookbook</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">

      <div class="row">
        <div class="large-2 columns hide-for-small-only hide-for-medium-only">
          <h1>5</h1>
        </div>
        <div class="large-10 small-12 columns">
          <h3>Testing Cookbooks</h3>
          <p>This chapter describes how to test Chef cookbooks</p>
        </div>
      </div>

    </div>
    <div class="large-6 columns">

      <div class="row">
        <div class="large-2 columns hide-for-small-only hide-for-medium-only">
          <h1>6</h1>
        </div>
        <div class="large-10 small-12 columns">
          <h3>Under development...</h3>
          <p></p>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- footer buttons -->
<div class="read-it-block">
  <div class="row">
    <div class="large-6 columns">
      <h2>Read my book. Its free!</h2>
    </div>
    <div class="large-6 columns">
      <div class="row main-buttons">
        <div class="large-6 columns">
          <a class="button expand" href="https://github.com/le0pard/chef_book/releases/download/0.0.1rc1/chef_rc1.pdf">
            <i class="icon-download-cloud-1"></i>
            Download
          </a>
        </div>
        <div class="large-6 columns">
          <a class="button expand" href="http://chef.leopard.in.ua/html">
            <i class="icon-link"></i>
            Read Online
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->

<div class="footer-block">
  <footer class="row">
    <div class="large-6 small-6 columns">
      <p>&copy; <a href="http://leopard.in.ua">Alexey Vasiliev aka leopard</a></p>
    </div>

    <div class="large-6 small-6 columns">
      <ul class="inline-list right social-bottom-block">
        <li>
          <a href="https://www.facebook.com/leopard.not.a" target="_blank">
            <i class="icon-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/leopard_me" target="_blank">
            <i class="icon-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/le0pard/chef_book" target="_blank">
            <i class="icon-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>

<!-- End Footer -->